In [1]:
import numpy as np 
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data = pd.read_csv('Books.csv')

C:\Users\jjj\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [5]:
# data.drop(data.columns[5:],axis=1,inplace=True)

In [6]:
data.columns = ['ISBN','Book_Title','Book_Author','Year_Of_Publication','Publisher','Image_URL_S','Image_URL_M','Image_URL_L']

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book_Title           271360 non-null  object
 2   Book_Author          271359 non-null  object
 3   Year_Of_Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image_URL_S          271360 non-null  object
 6   Image_URL_M          271360 non-null  object
 7   Image_URL_L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [8]:
data.dropna(inplace=True)

In [9]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
data= data.astype({'Year_Of_Publication' : 'int64'})

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271354 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271354 non-null  object
 1   Book_Title           271354 non-null  object
 2   Book_Author          271354 non-null  object
 3   Year_Of_Publication  271354 non-null  int64
 4   Publisher            271354 non-null  object
 5   Image_URL_S          271354 non-null  object
 6   Image_URL_M          271354 non-null  object
 7   Image_URL_L          271354 non-null  object
dtypes: int64(1), object(7)
memory usage: 18.6+ MB

In [12]:
data= data.astype({'Year_Of_Publication' : str})

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271354 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271354 non-null  object
 1   Book_Title           271354 non-null  object
 2   Book_Author          271354 non-null  object
 3   Year_Of_Publication  271354 non-null  object
 4   Publisher            271354 non-null  object
 5   Image_URL_S          271354 non-null  object
 6   Image_URL_M          271354 non-null  object
 7   Image_URL_L          271354 non-null  object
dtypes: object(8)
memory usage: 18.6+ MB

In [14]:
data = data.reset_index()

In [15]:
# used 10,000 rows alone because my cosine similarity matrix became too big
red_data = data[:10000]

In [16]:
red_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                10000 non-null  int64
 1   ISBN                 10000 non-null  object
 2   Book_Title           10000 non-null  object
 3   Book_Author          10000 non-null  object
 4   Year_Of_Publication  10000 non-null  object
 5   Publisher            10000 non-null  object
 6   Image_URL_S          10000 non-null  object
 7   Image_URL_M          10000 non-null  object
 8   Image_URL_L          10000 non-null  object
dtypes: int64(1), object(8)
memory usage: 703.2+ KB

In [17]:
#Selecting the Features i want to use
def combined_features(row):
	try:
		return row['Book_Author'] +" "+row['Year_Of_Publication']+" "+row["Publisher"]
	except:
			print ("Error", row)

#Creating a column in DF which contains all selected features
red_data['combined_features'] = red_data.apply(combined_features, axis=1) #axis as 1 will pass all row individual
red_data['combined_features'].head()

<ipython-input-17-82076898989c>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  red_data['combined_features'] = red_data.apply(combined_features, axis=1) #axis as 1 will pass all row individual

0    Mark P. O. Morford 2002 Oxford University Press
1    Richard Bruce Wright 2001 HarperFlamingo Canada
2                  Carlo D'Este 1991 HarperPerennial
3         Gina Bari Kolata 1999 Farrar Straus Giroux
4    E. J. W. Barber 1999 W. W. Norton &amp; Company
Name: combined_features, dtype: object

In [18]:
vectorizer = CountVectorizer()
count_matrix = vectorizer.fit_transform(red_data['combined_features'])
similarity = cosine_similarity(count_matrix)

In [19]:
# helper function
def get_title_from_index(index):
	return red_data[red_data.index == index]["Book_Title"].values[0]

def get_index_from_title(title):
	return red_data[red_data.Book_Title == title]["index"].values[0]

In [20]:
red_data['Book_Title'].unique()

array(['Classical Mythology', 'Clara Callan', 'Decision in Normandy', ...,
       'Die Keltennadel.', 'Tod in der Datscha.', 'Dunkel.'], dtype=object)

In [21]:
book_user_likes = "Decision in Normandy"
book_index = get_index_from_title(book_user_likes)
similar_books = list(enumerate (similarity[book_index]))

In [22]:
sorted_books = sorted(similar_books, key=lambda x:x[1], reverse=True)

In [23]:
i=0
print("Top 10 similar books to "+book_user_likes+" are:\n")
for book in sorted_books[1:]:#removing the particular book from the list of similar books by indexing
	print(get_title_from_index(book[0]))
	i+=1
	if (i>10):
		break

Top 10 similar books to Decision in Normandy are:

Due di due (Bestsellers)
Tecniche di seduzione
Das Leben der Thiere
Fg Cooks 3 Ancient Cuis
CW2    (CO)
Success Through a Positive Mental Attitude
Canon bang bang
Possession : A Romance
Lost Girls
New Comp Amer. Rhym. Co (Harperresource Book)
Sturmzeit. Roman.